.login-form{
    width: 80%;
    max-width:400px;
    color: #6435c9;
    background-color: white;
    border: 1px solid rgba(0,0,0,.125); 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
  }
  .input-container{
    margin-top: 25px;
    width: 90%;
    height: 55px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  .submit_button{
   color: white;
   background-color:rgb(67, 121, 156);
   border-radius:5px; 
   padding: 15px;
   margin: 80px 0px 10px 0px;
   border: none;
   font-size: 18;
   font-weight: 700;
}
 
 

